.upc {
    width: 250px; /* Initial width of the card */
    height: 500px; /* Initial height of the card */
    margin: 20px;
    border-radius: 4px;
    padding-bottom: 20px; /* Padding at the bottom */
    background: rgb(225, 220, 220); /* Solid background color */
}

.gradient {
    background: linear-gradient(to bottom, rgba(225, 220, 220, 0.75), rgba(225, 220, 220, 0)); /* Gradient */
    height: 30%; /* Height of the gradient div */
}

.profile-down img {
    height: 80px; /* Height of the profile image */
    border-radius: 20px; /* Border radius for the profile image */
    margin-top: -50px; /* Margin top for the profile image */
    padding: 5px;
    background: rgba(185, 185, 185, 0.5);
}

.profile-title {
    font-size: 25px; /* Font size of the title */
    font-weight: 600;
    font-family: 'goldenbook, serif';
}

.profile-description {
    padding: 10px 20px; /* Padding */
    font-size: 13px; /* Font size of the description */
}

.profbutton {
  display: inline-block;
  border: 2px solid #f9f9f9; /* Border color */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding for the button */
}

.profbutton:hover {
    background-color: #eeeeee; /* Darker background color on hover */
    border-color: #7d7d7d; /* Darker border color on hover */
}

.container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
}

.mapContainer {
    height: 80px; /* Height of the map container */
}

@media screen and (max-width: 600px) {
    .upc {
        width: 100%; /* Set the width of the card to 100% on smaller screens */
        height: auto; /* Allow the height to adjust automatically */
        max-width: 300px; /* Limit maximum width on smaller screens */
    }
}
