  .searchable-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

  
  .search-input {
    width: 200%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list-item {
    background-color: #f0f0f0;
    border: 1px solid #070707;
    border-radius: 4px;
    padding: 3px;
    margin-bottom: 5px;
  }

  .list-item:hover {
    background-color: #e0e0e0;
  }
  