
.h{
    
    text-decoration: none;
    color:white;
 }
 .htext{
    font-size: 15px;
    background: rgba(29, 23, 198, 0.75);
    margin: 10px 100px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 40px;
    width: 700px;
 }