/* Locations.css */
.h {
   text-decoration: none;
   color: rgb(109, 20, 243);
 }
 
 .htext {
   font-size: 50px;
   background: #07538d;
   margin: 10px 0; /* Adjust margin to center horizontally */
   padding-top: 8px;
   padding-bottom: 10px;
   color: rgb(65, 23, 23);
   width: 100%;
   
 }
 