@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif; /* Change font to Ubuntu */
}

:root {
    --mainColor: #ffffff;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #000000;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;

    height: 100px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
}

nav h {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
}



.profbutton {
    font-size: 17px;
    background: #e3e0e0;
    margin: auto 10px 10px 10px; /* Adjust margin to align buttons to the bottom */
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 40px;
    color: black !important;
    line-height: 25px;
    align-self: flex-end; /* Align buttons to the bottom */
}
.dropdown {
    position: relative; /* Change float to position relative */
    display: inline-block; /* Add this line */
    margin: 0; /* Remove float and margin */
}
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .dropdown-content {
    display: none;
    position: absolute; /* Change position to absolute */
    top: 100%; /* Position dropdown below the button */
    left: 0; /* Align dropdown with the button */
    background-color: #a39f9f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #747474;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .more-button {
	font-size: 17px;
	background: transparent;
	margin: auto 10px 10px 10px; /* Adjust margin to align buttons to the bottom */
	padding-top: 8px;
	padding-bottom: 10px;
	border-radius: 40px;
	color: black !important;
	line-height: 25px;
	align-self: flex-end; /* Align buttons to the bottom */
  }
  

.phone-number-btn {
	position: relative; /* Add relative positioning */
	margin: auto 10px 14px 10px;
	font-size: 17px;
	padding: 8px 16px;
	border: none;
	border-radius: 20px;
	background-color: rgb(190, 190, 190) ;
	color: var(--textColor);
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .phone-number-btn:hover {
	background-color: #ddd; /* Change the background color on hover as desired */
  }
  
header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}


header div,
nav {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 1024px) {
  header .nav-btn {
      visibility: visible;
      opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    right:0;
  }

  header .responsive_nav {
      transform: translateY(100vh);
  }

  nav .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
    text-align: center; /* Center text */
    margin: 0.5rem 0; /* Add some margin for spacing */
  }
}