.t {
    display: flex;
    flex-direction: column; /* Change flex direction to column on smaller screens */
    align-items: center;
    width: 100%; /* Set the width of the container to 100% on smaller screens */
    height: auto; /* Allow the height to adjust automatically */
    max-width: 300px; /* Limit maximum width on smaller screens */
  }
  
@media screen and (max-width: 600px) {
    .t {
      display: flex;
      flex-direction: column; /* Change flex direction to column on smaller screens */
      align-items: center;
      width: 100%; /* Set the width of the container to 100% on smaller screens */
      height: auto; /* Allow the height to adjust automatically */
      max-width: 300px; /* Limit maximum width on smaller screens */
    }
  }
  